#chart-container {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    height: 70vh;
}
#temperatureChart {
    margin: 10px;
    height: 70vh;
    width: 70vw;
}
#custom-legend {
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
    max-height: 70vh;
    max-width: 20%;
    border: 1px solid #ccc;
}

#main-container {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  width: 100vw;
  height: 80vh; /* or 100vh if you want full height */
  box-sizing: border-box;
}